/*Big thanks to https://css-tricks.com/perfect-full-page-background-image/*/
/*backgroun image*/
img.bg{
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;

  float:left;

  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;

  z-index: -2;

}

img.transparent{
opacity:0;
}


/*
img.bg0{
  z-index: -2
}
.bg1{
  z-index: -3;
}*/


body{
  background-color: #222222;
  font-family: FontAwsome,Arial;
  font-size: 1em;
}


header{
  background-color: red;
  background-image: url("pics/building.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 245px;
}

.post:hover{
  box-shadow: 0px 0px 10px black;
}

audio{
  clear: both;
}

.post{
  position: relative;
  background-color: white;
  width: 200px ;
  height: 200px ;
  float: left;
  margin: 10px;
}

.pic{
  background-color: pink;
  width: 100%;
  height: 75%;
  background-image: url("pics/perseid.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}


.text{
  background-color: #0066FF;
  width: 100%;
  height: 25%;
}

h5{
  margin: 0;
  width: 100%;
  height: 25%;
}


h6{
  margin: 0;
  width: 100%;
  height: 25%;
}

.post-btn{
  z-index: 1;
  opacity: 0;
  position: absolute;
  bottom: 50%;
  width: 35%;
  height: 35%;
  margin: 0;
  border-radius: 50px;
}

.post-btn:hover{
  cursor: pointer;
  cursor: hand;
}
.post-add{
  right: 10%;
  /*background-color: red;*/
}


.post-btn:after{
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  position: absolute;
  font-size: 75px;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%,50%);
  z-index: 10;
}
.post-add:after{
  content: "\f067";
  color: lightgreen;
  /*background-color: red;*/
}

.post-play:after{
  content: "\f04b";
  color: red;
  /*background-color: red;*/
}
.post-play{
  left: 10%;
  /*background-color: white;*/
}
